
<div class="contI">
<form class="formI" name='form1' action='controllerForm' method='post'>
    <input type='text' name='id' id='id' placeholder='Id:'><br>
    <input type='text' name='name' id='name' placeholder='Name:'><br>
    <input type='text' name='age' id='idade' placeholder='Idade:'><br>
    <input class="btn" type='submit' name='btnSubmit' id='btnSubmit' value='Add'><br>
</form>
</div>